.app {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  width: 18vw;
  height: 20vw;
  margin: 0.5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #404040;
}

.item:hover {
  background-color: #f0f0f0;
}

.item:hover:active {
  background-color: #e0e0e0;
}

.image {
  width: 17vw;
  height: 17vw;
}

.name {
  font-size: 1.5vw;
  margin-top: 0.5vw;
}

@media only screen and (max-width: 600px) {
  .item {
    width: 18vh;
    height: 20vh;
    margin: 0.5vh;
  }
  
  .image {
    width: 17vh;
    height: 17vh;
  }
  
  .name {
    font-size: 1.5vh;
    margin-top: 0.5vh;
  }
}